.main-about {
    padding: 2rem;
    color: #bac0c5;
  
    .about {
      .container {
        max-width: 1200px;
        margin-top: 8rem;
        padding: 2rem;
  
        h1 {
          font-size: 4.5rem;
          margin-bottom: 1rem;
        }
  
        p {
          font-size: 1.125rem;
          line-height: 1.6;
          margin-bottom: 1rem;
  
          strong {
            font-weight: bold;
          }
        }
  
        .row {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
  
          .col-md-6 {
            flex: 1;
            min-width: 0; // 
  
            h2 {
              font-size: 2rem;
              margin-bottom: 1rem;
            }
  
            p {
              font-size: 1rem;
            }
          }
        }
  
        .team {
          margin-top: 2rem;
  
          h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
          }
  
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }