* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

body {
    min-height: 100vh;
    background: linear-gradient(195deg, #000, #00000094), url('/images/modern.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.background {
    filter: blur(5px);
}