* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

body {
    background: linear-gradient(180deg, #000000fd, #000000cc), url(/images/modern.jpeg);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}
