@mixin flex($direction, $align, $justify, $gap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin grid ($col, $row, $gap) {
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    gap: $gap;
}